# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js build output
.next/
out/

# production
/build

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Prisma
/prisma/*.db
/prisma/*.db-journal
/prisma/migrations/dev/

# SQLite
*.sqlite
*.sqlite3
*.db
*.db-journal